{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% block javascript %}
{% endblock %}
<div id="overlay">
        <div class="jumbotron1">
            <div class="page" >
            <h1  id="accueil"  class="title display-3" ><span><span>Bienvenue</span></span></h1>
            </div>
            <p class="lead text-center">Découvrez un choix ultime des plus belles demeures au monde </p>
            <hr class="my-4">
            <p class="text-center" style="color:black">It uses utility classes for typography and spacing to space content out within the larger container.
            </p>
            <div class="btn1 text-center">
                <a class="btn btn-primary btn-lg mb-4" href="{{path('carte')}}" role="button">Notre sélection</a>
            </div>  
        </div>
</div>

<main role="main">
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
            {% for key,immo in immos %}
                <li data-target="#myCarousel" data-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %}></li>
            {% endfor %}         
            </ol>
    
    <div class="carousel-inner">
        
        {% for key,immo in immos %}
        <div class="carousel-item {% if key == 0 %}active{% endif %}" >
            <img src="{{asset('/images/' ~ immo.image)}}" class="d-block w-100 img-fluid" alt="...">
                
            
        </div>
        {% endfor %}.">
        
    </div>
    <button class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}
