{% extends 'base.html.twig' %}

{% block title %}Admin Modif{% endblock %}

{% block body %}

<div class="container">
{{form_start(form)}}
{{form_widget(form)}}
    <a href="{{path('admin')}}" class="btn btn-primary" >retour</a>
    <input type="sumbit" class="btn btn-success" value="rec">
{{form_end(form)}}
</div>
{% endblock %}
