<div class="container">
    <div class="row">
     
            <div class="card border-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header">{{ immo.nom }}</div>
                    <img src="{{asset('/images/' ~ immo.image)}}" class="card-img-top rounded mx-auto d-block" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle" alt="...">
                <div class="card-body">
                        <h4 class="card-title">{{ immo.nom }}</h4>
                        <p class="card-text">{{ immo.description }}</p>
                        <h5 class="card-title text-warning">prix : {{ immo.price | number_format(0,',', ' ') }} €</h5>
                        {% if admin %}
                        <div class="row  no-gutters">
                            <a href="{{path('modifProduct',{'id' :immo.id })}}"  class=" col btn btn-warning ">Modifier</a>
                            <a href="" class=" col btn btn-danger">Supprimer</a>
                        </div>

                        {% else %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Ajouter</button>
                        </div>
                            
                        {% endif %}
                </div>
                    
                
            </div>

    </div>

    
</div>
