{{form_start(form , {attr: {class: 'filter'}})}}
<div class="col">
{{form_row(form.prixMin)}}
</div>
<div class="col">
{{form_row(form.prixMax)}}
</div>

<div class="col-2">
<input type="submit" value"rechercher" class="btn btn-secondary" >
</div>
   
    {{form_end(form)}}