{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-3 " style="color:white">Accomplir son rêve</h1>
        <p class="lead" style="color: orange">Contactez nos experts pour plus de renseignements</p>
        <hr class="my-4">
        <p>Cette agence est factice, ce site est uniquement utilisé pour les besoins d'une présentation vitrine.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="mailto:patriceboyer.44@gmail.com?subject=Contact%20depuis%20PatriceBoyer.com" role="button">Contactez-nous</a>
        </p>
    </div>




    
    
 <div class="jumbotron row-hl">       
    <div class="col-md-4">
    
            <div class="row">
            
                {% include "carte/_filter.html.twig" with {form: form} only %}
            </div>
            
        </div>
     <h1 class="text-center" style="color:grey;">Voir tous nos biens</h2>
   </div>

   <div class="container mb-4">
    
    <div class="row">
            <div class="col">
                    <!-- ajout condition bouton "ajouter" pour l'admin-->
                {% if admin %}
                    <a href="" class="d-block btn btn-success">Ajouter</a>
                {% endif %}
            </div>
    </div>
</div>

    <div class="container">
    
                <div class=" row ">
                            {% for immo in immos %}
                            <div class="col-md-4">
                                {% include "carte/_carte.html.twig" with {immo:immo , admin:admin} only %}  
                            </div>
                            {% endfor %}
                        
                        <div class="mt-4">
                            {{ knp_pagination_render(immos) }}
                        </div>

                    </div>
               
        </div>                 
                       
   </div> 
</div>
                      
{% endblock %}
